* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color1: rgb(0,255,162);
    --color2: rgb(27,197,181);
    --color3: rgb(27,180,197);
    --color4: rgb(156,231,242);
    --color5: rgb(56,69,71);
}
body {
    color: var(--color3);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: var(--color5)
}
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
    background-color: var(--color4);
}
header h1 {
    font-size: 36px;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    text-decoration: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-size: 30px;
    text-decoration: none;
    color: var(--color3);
    font-weight: 600;
}
.img-h1 {
    display: flex;
    align-items: center;
}
.logo-img {
    padding-right: 20px;
}
#home {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 3px solid var(--color3);
    margin: 0 auto 30px auto;
    
    background-image: url("../images/WebsiteBackground2.png");
    background-size: cover;
    background-position: 100%;
    
    
}
.home-intro {
   text-align: center; 
}
.home-intro h2 {
    font-size: 60px;
    padding-bottom: 15px;
    
    color: var(--color1);
}
.home-intro p {
    font-size: 28px;
    color: var(--color2);
    line-height: 1.5;
}
#projects {
    
    
}
.necessary {
    
}
#projects h2, #about h2, #contact h2 {
    
    padding-top: 20px;
    padding-bottom: 30px;
    color: var(--color1);
    font-size: 50px;
    margin: 0 120px 40px 120px;
    border-bottom: 1px solid var(--color3);
    text-align: center;
}
.project {
    /* display: flex;  */
    /* justify-content: space-evenly; */
    margin: 0 120px 80px 120px;
    border-bottom: 2px solid var(--color3);
    padding-bottom: 40px;
}
.project h3 {
    font-size: 32px;
    color: var(--color2);
    padding-bottom: 20px;
    /* padding-right: 100px; */
}
.project p {
    font-size: 22px;
    /* padding-right: 100px; */
    line-height: 1.8;
}
.proj-content {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    

}
.proj-text {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    text-align: center;
    
}
.bottom-align {
    /* padding-top: 200px */
}
.proj-img {
    display: flex;
    justify-content: center;
}
.proj-img img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}
#about p {
    font-size: 22px;
    line-height: 1.8;
    margin-left: 250px;
    margin-right: 250px;
    padding-bottom: 50px;
}
#contact form {
    margin: 0 200px 50px 200px;
    display: flex;
    justify-content: center;
}
#contact input {
    border: 2px solid var(--color3);
    padding: 7px 15px;
    font-size: 22px;
    color: var(--color3);
    width: 50%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: var(--color4);
}
footer {
    padding: 20px 35px;
    background-color: var(--color4);
}

@media screen and (max-width: 1300px) {
    #about p {
        margin-left: 150px;
        margin-right: 150px;
    }
    #contact form {
        margin-left: 140px;
        margin-right: 140px;
    }
}
@media screen and (max-width: 980px) {
    /* .project h3 {
        font-size: 2.8vw;
    }
    .project p {
        font-size: 2vw;
    }*/
    .home-intro {
        margin-left: 50px;
        margin-right: 50px;
    }
    #about p {
        margin-left: 100px;
        margin-right: 100px;
    }
    header {
        
        justify-content: center;
    }
    .img-h1 {
        width: 100%;
        justify-content: center;
    }
    header nav ul {
        width: 100%;
        justify-content: center;
    }
    #contact form {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media screen and (max-width: 768px) {
    /* .project h3 {
        
    } */
    .project {
        margin: 0 40px 15px 40px;
    }
    #projects h2 {
        margin-left: 70px;
        margin-right: 70px
    }
    .proj-img {
        
    }
    #contact form {
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media screen and (max-width: 575px) {
    header nav ul li a {
        font-size: 28px;
    }
    #contact form {
        margin-left: 0px;
        margin-right: 0px;
    }
    #about p {
        margin-left: 50px;
        margin-right: 50px;
    }
}